.navbar {
    margin-bottom: 0;
    background-color: #F8F8F8;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 10;
    padding: 25px;
}

.logo-titulo {
    margin: -40px;
}

.titulo {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    /*margin:15px 15px 20px 40px;*/
    color: #000080;
    padding-right: 10px;
    margin-left: 30px;
    position: relative;
    top: 7px;
}

.cabecera {
    padding-top: 100px;
    margin-left: -20px;
}

.section-header {
    text-align: center;
    background-color: #f6f6f6;
    padding: 30px 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.justify {
    text-align: justify;
}

.color-text {
    color: #000080;
}

.margen {
    margin-bottom: 20px
}

.footer_be {
    background-color: #f7f7f7;
    padding: 40px 0 30px 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.boton_personalizado{
        text-decoration: none;
        font-size: 14px;
        margin-top: 15px;
        padding: 8px 16px;
        background-color: white;
        color: rgb(0, 0, 0);
        border: 1px solid #ccc;
        margin-bottom: 12px;
        border-radius: 10px;
        

  }


  .boton_personalizado:hover{
    text-decoration: none;
    font-size: 13px;
    margin-top: 50px;
    padding: 8px 16px;
    background-color: #000080;
    color:white;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
  
  }
.img-responsive {
   /* display: block;
    height: auto;*/
    max-width: 75%;
    
}
.img-position {
    top:25px;
    margin: 25px;
    
}


  
/*.navbar-header {
    margin: 0;
    display:inline-block;
    float:none;
  }*/
  
  a:hover{
    background-color: #000080 !important;
    color:white !important;
    border-radius: 20px !important;
    
  }
  /*
  .page-header h1 {
    color: #ff9900;
    font-family: 'Lobster';
  }
  
  .page-header h1:hover {
    color: #0099ff;
  }*/
  
  .dropdown-menu{
   /* background-color: #006699 !important*/
   font-size: 20px;
   border-radius: 10px;
   
   
  }

.parrafo {
    text-align: justify;
    margin-left: 95px;
    margin-right: 95px;

}

.parrafo-2 {
    text-align: justify;
    margin-left: 108px;
    margin-right: 108px;
}

h3 > a: link,a: active {
    color:green;
}
h3 > a:hover{

    background-color: white !important;
    color: #337ab7 !important;
   /* border-radius: 20px !important;*/
}
.form_details input[type="text"], .form_details textarea {
    -webkit-appearance:none;
    background:none;
    border:1px solid #CCCCCC;
    color:#8A8888;
    float:left;
    font-size:1em;
    font-weight:500;
    margin:10px 0;
    outline:none;
    padding:10px;
    width:65%;
  }